.login-form {

  h1 {
    color: white;
    text-align: left;
    margin-bottom: 0px;
  }

  .p-title {
    color: white;
    text-align: left;
    margin-top: 0px;
  }

  .form-card {
    width: 300px;
    margin: auto;

    fieldset {
      width: 100%;
    }

    .actions-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .login-button:not(:disabled) {
          background-color: #4285CA;
          color: white;
        }
      }

      .login-loader {
        position: absolute;
        top: 14px;
        margin: 0;
      }
    }

    .login-password-icon.visible {
      color: #4285CA;
    }
  }

  .login-error-message {
    color: #f44336;
    font-size: 0.8em;
    margin-top: 10px;
  }

  .p-register {
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-size: 0.8em;
  }

  .register-button:not(:disabled) {
    color: white;
    text-transform: unset;
    font-weight: bold;
  }
}
